<h1>Books</h1>
<!--@books.eachと記述することで、Listレコードの数だけ繰り返し処理-->
<!--@books（中身はdb内のmigrate)は変数bookに格納されて下記のbook.titleで使用されている-->


<table>
 
 <tr>
  <th>Title</th>
  <th>Body</th>
 </tr>
 
 <% @books.each do |book| %>
 <tr>
   <!--book.[カラム名]と記述することで、レコードのカラムの内容を表示-->
  <td><%= book.title %></td>
  <td><%= book.body %></td>
   <!--詳細リンク-->
  <td><%= link_to 'Show', book_path(book.id) %></td>
   <!--editリンク　link_to "Edit", Prefix_path(|book|.id)-->
  <td><%= link_to 'Edit', edit_book_path(book.id) %></td>
   <!--メソッドを指定しないとGETになってしまうのでメソッドを指定して-->
  <td><%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure?"  %></td>
 </tr>
 <% end %>
 
</table>
 


<p> <%= link_to "new", '/books/new'%></p>
